<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if is_post %}
          <title>njms - {{ title }}</title>
        {% else %}
       	  <title>njms</title>
        {% endif %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <a class="navbar-brand" href="/">njms</a>
            </a>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-3 sidebar">
            <h2>njms</h2>
            <div class="links">
              <a href="/">home</a>
              <a href="https://mastodon.club/@natejms">mastodon</a>
              <a href="http://github.com/natejms">github</a>
            </div>

            {% for post in posts offset: 0 limit: 3 %}
              <div class="sidebar-post">
                <h4><a href="/{{post.path}}">{{ post.title }}</a></h4>
                <h6>{{ post.timestamp }}</h6>
              </div>
            {% endfor %}

          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3"></div>
          <div class="col-md-9 col-sm-9 main">
            <div class="main-content">
              {% if is_post %}
                {% include '_layouts/post.liquid' %}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
            <footer>
              <p>
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                  <img src="https://i.creativecommons.org/l/by/4.0/88x31.png"
                       alt="Creative Commons License"
                       style="border-width:0"/>
                </a><br />
                Unless otherwise noted, content is licensed under a
                <a href="http://creativecommons.org/licenses/by/4.0/"
                   rel="license">
                  Creative Commons Attribution 4.0 International License
                </a>.
              </p>

              <p>
                Footer content &#169; 2018 njms.ca
              </p>

              <ul class="visible-xs">
                <li><a href="/">home</a></li>
                <li><a href="https://mastodon.club/@natejms">mastodon</a></li>
                <li><a href="http://github.com/natejms">github</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
